<html lang="ja">
<header>
    <meta charset="utf-8" />
    <title>Flask Test</title>
</header>

<body>
    <form class="msg-form">
        <input type="text" class="msg-input" placeholder="input text">
        <button type="submit" class="msg-send-btn">送信</button>
    </form>
    <div class="msg-res"></div>
    
    <script>
        const msgForm = document.querySelector(".msg-form");
        const msgInput = document.querySelector(".msg-input");
        const msgRes = document.querySelector(".msg-res");

        msgForm.addEventListener("submit", event => {
            event.preventDefault();
            const msgText = msgInput.value;
            console.log(msgText);
            if (!msgText) return;
            
            const xhr = new XMLHttpRequest();
            // エンドポイントを指定
            xhr.open('POST', '/chat/endpoint');
            xhr.setRequestHeader('Content-Type', 'application/json'); 
            
            // レスポンス処理を記述
            xhr.onload = function () {
                const response = JSON.parse(xhr.responseText);
                const gptResMessage = response.gpt_res_message;
                appendResponce(gptResMessage);
            };

            // メッセージをJSON形式に変換して送信
            xhr.send(JSON.stringify({ message: msgText })); 
            msgInput.value = "";
        });
        
        // レスポンスのメッセージを追加していく
        function appendResponce(msg) {
            const msgHTML = `<div class="msg-res">${msg}</div>`;
            msgRes.insertAdjacentHTML("beforeend", msgHTML);
        }
    </script>
</body>
</html>